<html lang="en">
  <head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>eCommerce Customer Detail</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

  </head>

  <body>
	
	<div class="container">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
						
						
						<ul class="preview-thumbnail nav nav-tabs">
						  <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="http://localhost:3300/getfile/{{user?.image}}" width="200PX" height="200PX"/></a></li>
						  
						</ul>
						
					</div>
					<div class="details col-md-6">
						<h3 class="product-title">{{user?.name}}</h3>
						<div class="rating">
							<div class="stars">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							
						</div>
						<p class="product-description"> {{user?.email}}.</p>
						<p class="product-description"> {{user?.password}}.</p>
                        <p class="product-description"> {{user?.phone}}.</p>
                        <p class="product-description"> {{user?.role}}.</p>
                     
						
					
						
						
					</div>
				</div>
			</div>
		</div>
	</div>
  </body>
</html>
