<div class="col-lg-7">
    <div class="p-5">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Create an Product!</h1>
        </div>
        <form class="user" [formGroup]="productForm" (ngSubmit)="onSubmit()">
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" formControlName="name" name="name"class="form-control form-control-user" id="exampleFirstName" placeholder=" Name">
                </div>
                <div class="col-sm-6">
                    <input type="text"  formControlName="prix" name="prix" class="form-control form-control-user" id="exampleLastName" placeholder="Prix">
                </div>
            </div>
            <div class="form-group">
                <textarea  class="form-control form-control-user" name="description" formControlName="description" rows="5" cols="12" placeholder="Please enter your description">
                </textarea>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 ">
                    <select class="form-select"  name="id_provider" formControlName="id_provider"  >
                        <option *ngFor="let provider of listproviders" [value]="provider._id" >{{provider.name}}</option>
                       
                    </select>
                </div>
                <div class="col-sm-6 mb-3 ">
                    <select class="form-select"  name="id_category" formControlName="id_category"  >
                        <option *ngFor="let category of listcategorys" [value]="category._id" >{{category.title}}</option>
                       
                    </select>
                </div>

                <div class="col-sm-6 mb-3 ">
                    <input type="file" (change)="handleFileInput($event)" 
                    name="file"  class="form-control form-control-user"
                        id="exampleRepeatPassword" placeholder="file">
                </div>
               
            </div>
            <button type="submit"  class="btn btn-primary btn-user btn-block">
                Create Product
            </button>
           
        </form>
        <hr>
       
    </div>
</div>